@model IEnumerable<AdmissionRegistrationSystem.Models.AdminViewDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1 >Welcome to Admin Panel</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th></th>
            
            <th>
                @Html.DisplayNameFor(model => model.registrations.Name)
            </th>
            
            <th>
                Father's name
            </th>
            <th>
                Mother's name
            </th>
            
            @*  <th>
                Permanent Address
            </th> *@
            @*<th>
                @Html.DisplayNameFor(model => model.PresAddress)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.registrations.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrations.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrations.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrations.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrations.NID)
            </th>
            <th>
                Payment Status
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.SSC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HSC)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@item.registrations.PhotoUrl" alt="User Photo" style="width: 50px; height: 50px;" />
            </td>            
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.Name)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td> *@
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.FName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.MName)
            </td>
            
            @*  <td>
                    @Html.DisplayFor(modelItem => item.PermAddress.Id), @Html.DisplayFor(modelItem => item.PermAddress.City), @Html.DisplayFor(modelItem => item.PermAddress.Area),
            </td> *@
          @*<td>
                @Html.DisplayFor(modelItem => item.PresAddress.Id)
            </td> *@
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.DOB)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.Gender)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.Phone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.registrations.Email)
            </td>
            <td>
                    @* @Html.DisplayFor(modelItem => item.transaactionId) *@

                     @Html.DisplayFor(modelItem => item.registrations.NID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentStatus)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.SSC.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSC.Id)
            </td> *@
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@item.registrations.Id">Details</a> @* | *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
