@model AdmissionRegistrationSystem.Models.RegistrationModel
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@{
    ViewData["Title"] = "Registration";
}

<h4>Registration Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post" id="registrationForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label">Father's name</label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MName" class="control-label">Mother's name</label>
                <input asp-for="MName" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB"
                       class="control-label">Date of Birth</label>
                <input type="date"
                       asp-for="DOB"
                       class="form-control" format="dd/MM/yyyy" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <select asp-for="Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NID" class="control-label"></label>
                <input asp-for="NID" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="NID" class="text-danger"></span>
            </div>
            <p>Permanent Address</p>
            <div class="form-group">
                <label asp-for="PermAddress.Provience" class="control-label">Provience</label>
                <input asp-for="PermAddress.Provience" class="form-control" />
                <span asp-validation-for="PermAddress.Provience" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="PermAddress.City" class="control-label">City</label>
                <input asp-for="PermAddress.City" class="form-control" />
                <span asp-validation-for="PermAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermAddress.Area" class="control-label">Area</label>
                <input asp-for="PermAddress.Area" class="form-control" />
                <span asp-validation-for="PermAddress.Area" class="text-danger"></span>
            <div class="form-group">
                    <label asp-for="PermAddress.ZipCode" class="control-label">ZipCode</label>
                    <input asp-for="PermAddress.ZipCode" class="form-control" />
                    <span asp-validation-for="PermAddress.ZipCode" class="text-danger"></span>
            </div>
            <p>Present Address</p>

            <div class="form-group">
                <label asp-for="PresAddress.Provience" class="control-label">Provience</label>
                <input asp-for="PresAddress.Provience" class="form-control" />
                <span asp-validation-for="PresAddress.Provience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAddress.City" class="control-label">City</label>
                <input asp-for="PresAddress.City" class="form-control" />
                <span asp-validation-for="PresAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAddress.Area" class="control-label">Area</label>
                <input asp-for="PresAddress.Area" class="form-control" />
                <span asp-validation-for="PresAddress.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="PresAddress.ZipCode" class="control-label">ZipCode</label>
                    <input asp-for="PresAddress.ZipCode" class="form-control" />
                    <span asp-validation-for="PresAddress.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSC.Board" class="control-label">SSC Board</label>
                <select asp-for="SSC.Board" class="form-control" placeholder="Select one">
                    <option value="">---Select one---</option>
                    <option value="Barishal">Barishal</option>
                    <option value="BTEB">BTEB</option>
                    <option value="Chattogram">Chattogram</option>
                    <option value="Comilla">Comilla</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Dinajpur">Dinajpur</option>
                    <option value="Jessore">Jessore</option>
                    <option value="Mymensingh">Mymensingh</option>
                    <option value="Rajshahi">Rajshahi</option>
                        <option value="Sylhet">Sylhet</option>
                </select>
                <span asp-validation-for="SSC.Board" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSC.Roll" class="control-label">SSC Roll</label>
                <input asp-for="SSC.Roll" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="SSC.Roll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSC.Section" class="control-label">Section</label>
                <select asp-for="SSC.Section" class="form-control" placeholder="---Select one---">
                        <option value="">---Select one---</option>
                    <option value="Science">Science</option>
                    <option value="Arts">Arts</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Vocational">Vocational</option>
                </select>
                <span asp-validation-for="SSC.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSC.Result" class="control-label">SSC Result</label>
                <input asp-for="SSC.Result" class="form-control" onkeypress="return isDecimalFormatKey(event)" />
                <span asp-validation-for="SSC.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSC.PassingYear" class="control-label">SSC Passing year</label>
                <input asp-for="SSC.PassingYear" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="SSC.PassingYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="College" class="control-label"></label>
                <input asp-for="College" class="form-control" />
                <span asp-validation-for="College" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSC.Board" class="control-label">HSC Board</label>
                <select asp-for="HSC.Board" class="form-control" placeholder="---Select one---">
                        <option value="">---Select one---</option>
                        <option value="Barishal">Barishal</option>
                        <option value="BTEB">BTEB</option>
                        <option value="Chattogram">Chattogram</option>
                        <option value="Comilla">Comilla</option>
                        <option value="Dhaka">Dhaka</option>
                        <option value="Dinajpur">Dinajpur</option>
                        <option value="Jessore">Jessore</option>
                        <option value="Mymensingh">Mymensingh</option>
                        <option value="Rajshahi">Rajshahi</option>
                        <option value="Sylhet">Sylhet</option>
                </select>
                <span asp-validation-for="HSC.Board" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSC.Roll" class="control-label">HSC Roll</label>
                <input asp-for="HSC.Roll" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="HSC.Roll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSC.Section" class="control-label">Section</label>
                <select asp-for="HSC.Section" class="form-control" placeholder="---Select one---">

                        <option value="">---Select one---</option>
                    <option value="Science">Science</option>
                    <option value="Arts">Arts</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Tecnical Education">Tecnical Education</option>
                </select>
                <span asp-validation-for="HSC.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSC.Result" class="control-label">HSC Result</label>
                <input asp-for="HSC.Result" class="form-control" onkeypress="return isDecimalFormatKey(event)" />
                <span asp-validation-for="HSC.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSC.PassingYear" class="control-label">HSC Passing year</label>
                <input asp-for="HSC.PassingYear" class="form-control" onkeypress="return isNumberKey(event)" />
                <span asp-validation-for="HSC.PassingYear" class="text-danger"></span>
            </div>
            @Html.Hidden("SSC.ExamType", "SSC")
            @Html.Hidden("HSC.ExamType", "HSC")
            @Html.Hidden("PresAddress.AddressType", "Present")
            @Html.Hidden("PermAddress.AddressType", "Permanent")
            @Html.Hidden("regId", Guid.NewGuid())
            @Html.Hidden("PhotoUrl", "")

            <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
            <div id="loading" style="display: none;">Uploading...</div>
            <div id="errorMessage" style="color: red;"></div>

            <script>
                function fileCheck(input) {
                    var file = input.files[0];

                    if (file) {
                        $('#loading').show();
                        $('#errorMessage').text('');

                        var formData = new FormData();
                        formData.append("file", file);

                        $.ajax({
                            type: "POST",
                            url: "/Registrations/ProcessImage",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $('#PhotoUrl').val(response.url);
                                $('#loading').hide();
                            },
                            error: function (error) {
                                console.error("Error processing image: " + error);
                                $('#loading').hide();
                                $('#errorMessage').text('Error processing image: ' + error.statusText);
                            }
                        });
                    }
                }

                function validateForm() {
                    if ($('#PhotoUrl').val() === '') {
                        $('#errorMessage').text('Please upload a photo before submitting the form.');
                        return false;
                    }

                    return true; 
                }

                $(document).ready(function () {
                    $('#registrationForm').submit(function () {
                        return validateForm();
                    });
                });
            </script>

            <script>
                function isNumberKey(evt) {
                    var charCode = (evt.which) ? evt.which : event.keyCode;
                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                        return false;
                    }
                    return true;
                }
            </script>

            <script>
                function isDecimalFormatKey(evt) {
                    var charCode = (evt.which) ? evt.which : event.keyCode;

                    if ((charCode >= 48 && charCode <= 57) || charCode === 46) {
                        var inputValue = evt.target.value;
                        if (inputValue.includes('.') && charCode === 46) {
                            return false; 
                        }

                        var decimalIndex = inputValue.indexOf('.');
                        if (decimalIndex !== -1 && inputValue.length - decimalIndex > 2) {
                            return false; 
                        }

                        return true;
                    }

                    return false; 
                }
            </script>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}